
.wrapPostsBox {
    display: flex;
}

.wrapPostsBox > div {
    width: 50%;
}

.postsBox {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: green solid 2px;
}
.detalPostBox {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: green solid 2px;
}

button {
    background: green;
    color: white;
    padding: 5px;
    font-size: 14px;
}

.comments {
    padding: 20px;
    text-align: center;
 }


