.userBox {
    border: solid 2px green;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background: silver;
}

button {
    background: green;
    color: white;
    padding: 5px;
    font-size: 14px;
}

