.MovieInfoBox {
    background: rgba(255, 255, 255, 0.5);
    margin: 20px;
}
.genresMovieBox {
    display: inline;
}

.MovieInfoBox ul {
    display: inline;
}
.MovieInfoBox li {
    display: inline;
    list-style: initial;
}

p {
    padding: 20px;
}