

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.movie-list-wrap {
  overflow-x: auto;
  flex-flow: wrap;
  margin: 5px 30px;
}

.movieList {
  display: inline-flex;
}


.content {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

